<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1031548495851-tuc64k07c0qlecsj7ast3l0e5ii8f9m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031548495851-tuc64k07c0qlecsj7ast3l0e5ii8f9m2</string>
	<key>API_KEY</key>
	<string>AIzaSyCp2k1phCmzYZey5N52KhUqylSDbbf2Y3k</string>
	<key>GCM_SENDER_ID</key>
	<string>1031548495851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morrislwt.SlideOutMenu</string>
	<key>PROJECT_ID</key>
	<string>morris-roster</string>
	<key>STORAGE_BUCKET</key>
	<string>morris-roster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031548495851:ios:58dd97d50f8e8b2e</string>
	<key>DATABASE_URL</key>
	<string>https://morris-roster.firebaseio.com</string>
</dict>
</plist>